<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         bootstrap="bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
       <!--  <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist> -->
    </filter>

     <php>
        <env name="DATABASE_NAME" value="test" />
        <env name="DATABASE_USER" value="root" />
        <env name="DATABASE_PASS" value="" />
        <env name="DATABASE_HOST" value="127.0.0.1" />
    </php>
</phpunit>